.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
.fz14 {
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}
.mbtn {
  border-radius: 4px;
  color: #333;
  text-decoration: none;
  padding: 0 5px 0 0;
  white-space: nowrap;
  display: block;
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  color: #333;
  background-color: #ddd;
}
